*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(53, 53, 220);
}

.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav ul li{
    display: flex;
    text-decoration: none;
    list-style: none;
}